<div class="card">
  <div class="card-header">
    Application de gestion de librairie
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Projet realiser par KADIMI Hamza</p>
      <footer class="blockquote-footer">Encadré par <cite title="Source Title">Mr. Ait Lahcen</cite></footer>
    </blockquote>
  </div>
</div>