<p id="notice"><%= notice %></p>

<h1>Adherents</h1>
<p>Tout les adherents sont exporter dans un fichier csv </p>
<p>Path "C:\Users\LENOVO\Desktop\semestre8\Ruby On Rails\cours\Test Ruby on Rails\LibraryManagement\public\sortie.csv"</p>
<button class="btn btn-sm btn-primary"><a href="adherents">back</a></button>
<br>